<p id="notice"><%= notice %></p>

<p>
  <b>Place:</b>
  <%= @tip.place_id %>
</p>

<p>
  <b>Tip:</b>
  <%= @tip.tip %>
</p>


<%= link_to 'Edit', edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>
