<h3><%= @place.name %></h3>

<div class="panel panel-default">
  <div class="panel-body">
    <em>Information about this place</em>
    <ul class="list-group">
      <% @place.tips.each do |tip| %>
        <li class="list-group-item"><%= tip.tip%></li>
      <% end %>
    </ul>

    <div id="tags">
      <% @place.tags.each do |tag| %>
        <span class="label label-warning"><%= tag.name %></span>&nbsp;
      <% end %>
    </div>

  </div>
  <div class="panel-footer">
    <p>Tag this data</p>
    <%= render 'tag' %>
    <%= render 'tip' %>

  </div>
</div>

<%= link_to 'Back', root_path, { class: 'btn btn-danger' } %>
